{% extends 'layout.master' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        {% if old('errors') %}
                            <div class="alert alert-danger">
                                <ul class="list-unstyled">
                                    {% for error in old('errors') %}
                                        <li> {{ error.message }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
						{% if old('error') %}
							<div class="alert alert-danger">
								<ul class="list-unstyled">
									<li> These credentials do not match our records.</li>
								</ul>
							</div>
						{% endif %}
                        <form class="form-horizontal" role="form" method="POST"
                              action="{{ url('/login') }}">
                            {{ csrfField }}
                            <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'email')) }}">
                                <label class="col-md-4 control-label" for="email">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" name="email" id="email"
                                           value="{{ old('email') }}">
                                </div>
                            </div>
                            <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'password')) }}">
                                <label class="col-md-4 control-label" for="password">Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" id="password"
                                           name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-btn fa-sign-in"></i>Login
                                    </button>

                                    <a class="btn btn-link"
                                       href="{{ url('/password/reset') }}">Forgot Your Password?</a>
                                </div>
                            </div>
                        </form>
                        <a href="{{ url('/auth/facebook') }}"
                           class="btn btn-block btn-facebook btn-social" role="button">
                            <i class="fa fa-facebook"></i>
                            Login With Facebook
                        </a>
                        <a href="{{ url('/auth/twitter') }}" class="btn btn-block btn-twitter btn-social">
                            <i class="fa fa-twitter"></i>
                            Sign in with Twitter
                        </a>
                        <a href="{{ url('/auth/google') }}" class="btn btn-block btn-google btn-social">
                            <i class="fa fa-google-plus"></i>Sign in with Google
                        </a>
                        <a href="{{ url('/auth/github') }}" class="btn btn-block btn-github btn-social">
                            <i class="fa fa-github"></i>Sign in with GitHub
                        </a>
                        <a href="{{ url('/auth/linkedin') }}" class="btn btn-block btn-linkedin btn-social">
                            <i class="fa fa-linkedin"></i>Sign in with LinkedIn
                        </a>
                        <a href="{{ url('/auth/instagram') }}" class="btn btn-block btn-instagram btn-social">
                            <i class="fa fa-instagram"></i>Sign in with Instagram
                        </a>
                        <a href="{{ url('/auth/foursquare') }}" class="btn btn-block btn-foursquare btn-social">
                            <i class="fa fa-foursquare"></i>Sign in with Foursquare
                        </a>
                        {#<a href="/auth/bitbucket" class="btn btn-block btn-bitbucket btn-social">
                            <i class="fa fa-bitbucket"></i>Sign in with Bitbucket
                        </a>
                        <a href="/auth/foursquare" class="btn btn-block btn-foursquare btn-social">
                            <i class="fa fa-foursquare"></i>Sign in with Foursquare
                        </a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

