{% extends 'layout.master' %}

{% block content %}
    <div class="container">
       <div class="row">
            <div class="col-md-8 col-md-offset-2">
                 <div class="panel panel-default">
                    <div class="panel-heading">Register</div>
                          <div class="panel-body">
                              {% if old('errors') %}
                                  <div class="alert alert-danger">
                                      <ul class="list-unstyled">
                                          {% for error in old('errors') %}
                                              <li> {{ error.message }} </li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                              {% endif %}
                               <form class="form-horizontal" role="form" method="POST"
                                     action="{{ url('/register') }}">
                                    {{ csrfField }}
                                    <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'name')) }}">
                                        <label class="col-md-4 control-label" for="name">Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="name" id="name"
                                               value="{{ old('name') }}">
                                        </div>
                                    </div>
                                    <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'email')) }}">
                                        <label class="col-md-4 control-label"
                                            for="email">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" name="email"
                                                 value="{{ old('email') }}" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'password')) }}">
                                         <label class="col-md-4 control-label"
                                            for="password">Password</label>
                                         <div class="col-md-6">
                                            <input type="password" class="form-control" name="password"
                                                id="password">
                                         </div>
                                    </div>
                                    <div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'password_confirmation')) }}">
                                        <label class="col-md-4 control-label"
                                               id="password_confirmation">Confirm Password</label>
                                        <div class="col-md-6">
                                            <input type="password" class="form-control"
                                                 name="password_confirmation" id="password_confirmation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="col-md-6 col-md-offset-4">
                                              <button type="submit" class="btn btn-primary">
                                               <i class="fa fa-btn fa-user"></i>Register
                                              </button>
                                         </div>
                                    </div>
                               </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

