{% extends 'layout.master' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Reset Password</div>
				<div class="panel-body">
					{% if old('errors') %}
						<div class="alert alert-danger">
							<ul class="list-unstyled">
								{% for error in old('errors') %}
									<li>{{ error.message }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if old('error') %}
						<div class="alert alert-warning">
							{{ old('error') }}
						</div>
					{% endif %}
					{% if old('warning') %}
						<div class="alert alert-warning">
							<strong> {{ old('warning') }} </strong> Not Found
						</div>
					{% endif %}
					{% if old('status') %}
						<div class="alert alert-success">
							{{ old('status') }}
						</div>
					{% endif %}
					<form class="form-horizontal" role="form" method="POST"
						  action="{{ url('/password/email') }}">
						{{ csrfField }}

						<div class="form-group {{ ' has-error' if (old('errors') and findBy(old('errors'), 'email')) }}">
							<label class="col-md-4 control-label" for="email">E-Mail Address</label>

							<div class="col-md-6">
								<input type="email" class="form-control" name="email" id="email"
									   value="{{ old('email') }}">

							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-btn fa-envelope"></i>Send Password Reset Link
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

