{% extends 'layout.master' %}

{% block content %}
	<div class="container">
		<div class="main-container">
			<div class="page-header">
				<h2><i class="fa fa-instagram" style='color: #517fa4'></i> Instagram API</h2>
			</div>
			<div class="btn-group btn-group-justified">
				<a href="http://instagram.com/developer/" target="_blank" class="btn btn-primary">
					<i class="fa fa-check-square-o"></i> Overview
				</a>
				<a href="https://github.com/larabros/elogram" target="_blank" class="btn btn-primary">
					<i class="fa fa-laptop"></i> Instagram Docs
				</a>
				<a href="http://instagram.com/developer/endpoints/" target="_blank" class="btn btn-primary">
					<i class="fa fa-code-fork"></i> API Endpoints
				</a>
			</div>
			<br />

			<br>
		</div>
	</div>

{% endblock %}

