html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Lato';
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  background-color: #f5f5f5;
}
.bg-dark {
  background-color: #1b66b1!important;
}
.fa-btn {
  margin-right: 0.375rem;
}
.navbar-brand {
  padding-top: 0rem !important;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn, .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified .btn .btn, .btn-group-justified .btn-group .btn {
    width: 100%;
}
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}
